<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Planet Fitness</title>
</head>

<center>
    <div style="width: 100%;color: #2f3c7e;height: 64px;font-size: 37px;background-color: black;">
        <h3>Planet Fitness</h3>
    </div>
</center>




<body>
    <center>
        <div id="home">
            <h1>Welcome to Planet Fitness</h1>
            <form action="/district" method="get">
                <label>Select District</label>
                <select name="district" style="color:white; background-color: rgb(36, 32, 32); font-size: 20px;">
                    <option value="Thrissur">Thrissur</option>
                    <option value="Ernakulam">Ernakulam</option>
                    <option value="Palakkad">Palakkad</option>
                </select>
                <button type="submit" style="color:white; background-color: rgb(36, 32, 32);">Submit</button>
            </form>
        </div>
    </center>
</body>

</html>